---
title: Small HQ Blog
layout: blog_list
priority: 1
changefreq: daily
---

<section id="blog_list_banner">
  <div id="blog_list" class="container">
    <div class="ten columns offset-by-three">

      <!-- Campaign Monitor Button -->
      <div class="createsend-button" style="height:27px;display:inline-block;" data-listid="r/EE/F07/73C/36EF65FEFFEF7FE1">
      </div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
      <!-- END CM Button -->
      <h2>Founder's Edition</h2>
      <div id="founders-edition">
        <% blog.articles.each do |article| %>
          <article>
            <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
            <p>Sent on <%= article.date.strftime("%b. %d, %Y") %> by <%= article.data.author.split('_')[0].capitalize %></p>
          </article>
        <% end %>
      </div>

      <h2>Published Elsewhere</h2>
      <div id="elsewhere">


        <article>
          <h1><a href="https://medium.com/startup-lesson-learned/69ea8596f609">Get Your SaaS in Gear by Talking to Your Peers (they'll tell you what your customers won't)</a></h1>
          <p>Published on Medium by Matt</p>
        </article>
        <article>
          <h1><a href="https://medium.com/business-startup-development-and-more/bfba70e1c3d7">How Bidsketch Leverages App Integrations to Drive Growth</a></h1>
          <p>Published on Medium by Joelle</p>
        </article>

        <article>
          <h1><a href="https://medium.com/startup-lesson-learned/2513bc1c364d">3 Dead-Simple Tactics for a Killer Early Stage Email List</a></h1>
          <p>Published on Medium by Joelle</p>
        </article>

        <article>
          <h1><a href="https://medium.com/startup-lesson-learned/f7225853f209">David vs. Goliath, And The Need for Constant Reinvention</a></h1>
          <p>Published on Medium by Joelle</p>
        </article>

        <article>
          <h1><a href="https://medium.com/start-up-vision/57272a4831cb">The Pain of Not Shipping (and how you can force yourself to start again)</a></h1>
          <p>Published on Medium by Matt</p>
        </article>

        <article>
          <h1><a href="https://medium.com/startup-lesson-learned/a9882cee3b3b">Be Open to Pivoting, or Be Prepared to Fail</a></h1>
          <p>Published on Medium by Joelle</p>
        </article>

        <article>
          <h1><a href="https://medium.com/on-startups/14300c5be48c">Three Simple Launch Lessons From the Founder of Product Hunt</a></h1>
          <p>Published on Medium by Joelle</p>
        </article>

        <article>
          <h1><a href="http://www.huffingtonpost.com/joelle-steiniger/work-from-home-tips_b_4776354.html">Work From Home? Here Are 10 Ways to Do It Better</a></h1>
          <p>Published in The Huffington Post by Joelle</p>
        </article>

        <article>
          <h1><a href="https://medium.com/what-i-learned-building/1816bd8a341a">We Listened to the People, Not the Problem (and overcomplicated the hell out of both our products)</a></h1>
          <p>Published on Medium by Joelle</p>
        </article>

        <article>
          <h1><a href="https://medium.com/how-to-succeed/2bbb9b7379b9">Lessons Learned Starting Two Software Products (our 2013 fails)</a></h1>
          <p>Published on Medium by Matt</p>
        </article>

        <article>
          <h1><a href="https://medium.com/startup-lesson-learned/9a538bcae894">One Simple Trick to Improve Your Software Cash Flow (During the “Toughest” Month of the Year)</a></h1>
          <p>Published on Medium by Matt</p>
        </article>

        <article>
          <h1><a href="https://medium.com/on-startups/ce2a0af226c0">San Diego isn’t Silicon Valley. And that’s fine by me.</a></h1>
          <p>Published on Medium by Matt</p>
        </article>

        <article>
          <h1><a href="https://medium.com/this-happened-to-me/d42e91103b2a">"More" is a Four Letter Word</a></h1>
          <p>Published on Medium by Joelle</p>
        </article>

        <article>
          <h1><a href="https://medium.com/architecting-a-life/c2b101b71ff3">Why Every Entrepreneur Needs to Learn to Code (Something)</a></h1>
          <p>Published on Medium by Joelle</p>
        </article>

        <article>
          <h1><a href="https://medium.com/design-startups/576b5f460717">Clever Developer Syndrome</a></h1>
          <p>Published on Medium by Matt</p>
        </article>

        <article>
          <h1><a href="https://medium.com/design-startups/e1bc877c39e8">You Can Meet Your Heroes</a></h1>
          <p>Published on Medium by Matt</p>
        </article>

        <article>
          <h1><a href="https://medium.com/design-startups/4b3ade71f679">Durnken Lnauch Avdcie — Huors bferoe Our Frist Luanch</a></h1>
          <p>Published on Medium by Matt</p>
        </article>

        <article>
          <h1><a href="http://lifehacker.com/how-i-optimize-for-happiness-at-work-1220621894">How I Optimize for Happiness at Work</a></h1>
          <p>Published on Lifehacker by Joelle</p>
        </article>

        <article>
          <h1><a href="https://medium.com/what-i-learned-building/63fa3e5603b">How We Went from Zero Audience to Over a Thousand Beta Signups—Simply by Showing, Not Telling</a></h1>
          <p>Published on Medium by Matt</p>
        </article>
      </div><!-- END #elsewhere -->

    </div><!-- END .sixteen.columns -->
  </div><!-- END #blog_list.container -->
</section><!-- END #blog_list_banner -->