---
title: Small HQ | HookFeed and Minimalytics | Matt Goldman and Joelle Steiniger | San Diego
priority: 1
changefreq: daily
---

<section id="headline_banner">
  <div id="headline_overlay">
    <div id="headline" class="container">
      <div class="sixteen columns">
        <h1>Building Awesome Products<br> in San Diego</h1>
        <form id="email_field">
          <input type="text" placeholder="Email Address">
          <input type="submit" value="Stay in the Loop">
        </form>
      </div><!-- END .sixteen.columns -->
    </div><!-- END #headline.container -->
  </div><!-- END #headline_overlay -->
</section><!-- END #headline_banner -->

<section id="products_banner">
  <div id="products" class="container">
    <div class="sixteen columns section_header">
      <h1>OUR PRODUCTS</h1>
    </div><!-- END .sixteen.columns -->
    <div class="eight columns" id="hookfeed">
      <a href="http://www.hookfeed.com"><img src="images/HookFeed.jpg" width="460" class="scale-with-grid"></a>
    </div><!-- END #hookfeed -->
    <div class="eight columns" id="minimalytics">
      <a href="http://www.minimalytics.com"><img src="images/Minimalytics.jpg" width="460" class="scale-with-grid"></a>
    </div><!-- END .#minimalytics -->
  </div><!-- END #products.container -->
</section><!-- END #products_banner -->

<section id="books_guides_banner">
  <div id="books_guides" class="container">
    <div class="sixteen columns section_header">
      <h1>OUR BOOK</h1>
    </div><!-- END .sixteen.columns -->
    <div class="sixteen columns" id="rocketship">
      <a href="http://www.howtobuildarocketship.com"><img src="images/Rocketship.png" width="300" class="scale-with-grid"></a>
    </div><!-- END #rocketship -->
  </div><!-- END #books_guides.container -->
</section><!-- END #books_guides_banner -->

<section id="about_banner">
  <div id="about" class="container">
    <div class="sixteen columns section_header">
      <h1>ABOUT</h1>
    </div><!-- END .sixteen.columns -->
    <div class="eight columns bio" id="matt">
      <a href="https://twitter.com/sdmattg" class="matt author"><img src="/images/matt.jpeg"></a>
      <h2><a href="https://twitter.com/sdmattg">Matt Goldman</a></h2>
      <p>Founder</span></p>
    </div><!-- END #matt -->
    <div class="eight columns bio" id="joelle">
      <a href="https://twitter.com/joellesteiniger" class="joelle author"><img src="/images/joelle.png"></a>
      <h2><a href="https://twitter.com/joellesteiniger">Joelle Steiniger</a></h2>
      <p>Co-Founder</span></p>
    </div><!-- END #joelle -->
    <div class="sixteen columns" id="about_small">
      <p>Founded in 2012 on an inordinate appreciation for brilliant products, and the deeply held belief that small is better, Small HQ is anything but just another product company.</p>
      <p>We've set out to build products that solve the problems entrepreneurs and small business owners face daily. The common thread between our products, is that each is data-driven, beautiful, and refreshingly simple.</p>
      <p>More importantly than what we do, is how we choose do it. We're carefully crafting an amazing company culture that puts team members and partners first. When people are free to focus on what they love doing, it ultimately leads to incredible work and a happy, fulfilling, unconstrained lifestyle.</p>
    </div><!-- END twelve.columns #blockquote -->
  </div><!-- END #about.container -->
</section><!-- END #about_banner -->

