---
title: Small HQ | HookFeed and Minimalytics | Matt Goldman and Joelle Steiniger | San Diego
priority: 1
changefreq: daily
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="sixteen columns">
      <h1>We Build Apps &amp; Teach Entrepreneurs</h1>

      <form>
        <input type="text" placeholder="Email Address">
        <input type="submit" value="Subscribe">
      </form>
    </div><!-- END .sixteen.columns -->
  </div><!-- END #headline.container -->
</section><!-- END #headline_banner -->