---
title: Small HQ | HookFeed and Minimalytics | Matt Goldman and Joelle Steiniger | San Diego
priority: 1
changefreq: daily
---

<section id="headline_banner">
  <div id="headline_overlay">
    <div id="headline" class="container">
      <div class="sixteen columns">
        <h1>Building Awesome Products<br> in San Diego</h1>
        <form action="http://email.demandloyalty.com/t/r/s/jyamy/" method="post" id="email_field">
          <input type="text" name="cm-jyamy-jyamy" placeholder="Email Address" id="jyamy-jyamy">
          <input type="submit" value="Stay in the Loop">
        </form>
      </div><!-- END .sixteen.columns -->
    </div><!-- END #headline.container -->
  </div><!-- END #headline_overlay -->
</section><!-- END #headline_banner -->

<section id="products_banner">
  <div id="products" class="container">
    <div class="sixteen columns section_header">
      <h1>OUR PRODUCTS</h1>
    </div><!-- END .sixteen.columns -->
    <div class="eight columns offset-by-four" id="hookfeed">
      <a href="http://www.hookfeed.com"><img src="images/HookFeed.jpg" width="460" class="scale-with-grid"></a>
    </div><!-- END #hookfeed -->
  </div><!-- END #products.container -->
</section><!-- END #products_banner -->

<section id="books_guides_banner">
  <div id="books_guides" class="container">
    <div class="sixteen columns section_header">
      <h1>OUR BOOK</h1>
    </div><!-- END .sixteen.columns -->
    <div class="sixteen columns" id="rocketship">
      <a href="http://www.howtobuildarocketship.com"><img src="images/Rocketship.png" width="300" class="scale-with-grid"></a>
    </div><!-- END #rocketship -->
  </div><!-- END #books_guides.container -->
</section><!-- END #books_guides_banner -->

<section id="about_banner">
  <div id="about" class="container">
    <div class="sixteen columns section_header">
      <h1>ABOUT</h1>
    </div><!-- END .sixteen.columns -->
    <div class="eight columns bio" id="matt">
      <a href="https://twitter.com/sdmattg" class="matt author"><img src="/images/matt.jpeg"></a>
      <h2><a href="https://twitter.com/sdmattg">Matt Goldman</a></h2>
      <p>Founder</span></p>
    </div><!-- END #matt -->
    <div class="eight columns bio" id="joelle">
      <a href="https://twitter.com/joellesteiniger" class="joelle author"><img src="/images/joelle.png"></a>
      <h2><a href="https://twitter.com/joellesteiniger">Joelle Steiniger</a></h2>
      <p>Co-Founder</span></p>
    </div><!-- END #joelle -->
    <div class="twelve columns offset-by-two" id="about_small">
      <p>Founded in 2012 on an inordinate appreciation for brilliant products, and the deeply held belief that small is better, Small HQ is anything but just another product company. The common thread between our products, is that each is data-driven, beautiful, and refreshingly simple.</p>
      <p>More importantly than what we do, is how we choose do it. We don't just build products. We've become sponges—and we've become loud-speakers. We believe deeply in sharing knowledge that helps elevate our entire industry.</p>
      <p>So we <a href="http://www.smallhq.com/blog">blog</a> openly and transparently about our struggles and successes in building and growing SaaS products. We share our interviews with some of the world's best entrepreneurs on our <a href="http://www.howtobuildarocketship.com">podcast</a>. We're co-authoring a <a href="http://www.howtobuildarocketship.com">book</a> to teach people exactly what to do to launch a successful product. <!--And we offer <a href="http://www.smallhq.com/coaching">coaching and consulting</a> for those who are serious about taking their product to market.--></p>
      <p>We live and breathe this stuff. And eat it for breakfast too. And then wash it down with a few IPAs.</p>
    </div><!-- END twelve.columns #blockquote -->
  </div><!-- END #about.container -->
</section><!-- END #about_banner -->

